@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}


:root {
    --color-primary-blue: #2B7FFF;
    --color-primary-blue-dark: #011C44;
    --color-pimary-white: #ffffff;
    --color-secondary-grey: #4A4A4A;
    --color-primary-blue: #2b7fff;
        --color-primary-dark: #011c44;
        --color-secondary-dark: #000;
        --color-background: #fff;
        --color-secondary-gray: #747272;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*Base*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-blue-dark);
    font-family: 'Roboto', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    text-transform: none;
    margin: 0;
}

address {
    font-style: normal;
}

h2 {
    margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}   

a {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    padding: 48px 0;
    padding-bottom: 96px;
}

/* Hero */
.hero-section {
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    padding-bottom: 190px;
    padding-top: 16px;
}

.hero-section-container {
    padding-left:206px;
}

.hero-title {
    color: var(--color-primary-blue);
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    margin-bottom: 40px;
}

.hero-image{
    border-radius: 50%;
    margin-bottom: 40px;
}

.hero-image-second{
    border-radius: 50%;
    margin-left: 204px;
}


.advice {
    color: var(--color-secondary-grey);
}
 
/* Link */ 
.link {
    color: var(--color-primary-blue-dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none; 
}

.link:hover{
    color: var(--color-primary-blue);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}

/* Header */
.header__container {
    position: relative;
    display: flex;
    align-items: center;
}

.header__back {
    position: absolute;
    z-index: -1;
    top: 0;
}

.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 240px;
    padding: 32px 100px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.25);
}

.header__menu {
    display: flex;
    gap: 54px;
    width: 100%;
}

.header__link {
    display: flex;
    color: var(--color-primary-dark);
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.header__link:hover {
    color: var(--color-primary-blue);
}

.header__icons {
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 32px;
}

.header__icon-link {
    fill: var(--color-primary-dark);
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.header__icon-link:hover {
    fill: var(--color-primary-blue);
}
/* Button */
.button {
    color: var(--color-pimary-white);
    background-color: var(--color-primary-blue);
    border: 2px solid var(--color-primary-blue) ;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    width: 232px;
    height: 56px;
    margin-bottom: 14px;
}

.button:hover {
    background-color: transparent ;
    color: var(--color-primary-blue-dark);
    border: 2px solid var(--color-primary-blue);
}

/* About us */
.about-us-section {
    position: relative;
    padding: 0;
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 0 100px;
}

.about-us-content {
    display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 40px;
        max-width: 710px;
        width: 100%;
        padding-top: 40px;
}

.about-us-images {
    position: relative;
        display: grid;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
        row-gap: 40px;
        max-width: 500px;
        width: 100%;
        justify-items: start;
}

.about-us-before {
    justify-self: start;
    border-radius: 50%;
}

.about-us-after {
    justify-self: end;
    border-radius: 50%;
}

.stars {
    position: absolute;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.about-us-star-1 {
    top: 340px;
    left: 120px;
}

.about-us-star-2 {
    top: 32px;
    left: 470px;
}

.about-us-star-3 {
    top: 270px;
    left: 472px;
}



/* Procedures */
.our-procedures-section__container {
    padding: 0 112px;
}

.our-procedures-section__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 48px;
}

.our-procedures-section__procedures-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
}

.our-procedures-section__scroll-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 32px;
}

.procedures-box {
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.procedures-box:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.procedures-box__card {
    border: 1px solid black;
    border-radius: 4px 120px 4px 120px;
    padding: 372px 93px 32px 115px;
    text-align: center;
}

.procedures-box__gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.procedures-box__mask-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.procedures-box__mask-title {
    position: relative;
    color: var(--color-background);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.18;
    max-height: 50px;
    height: 100%;
}

/* Advantages Section */
.section-title {
    color: var(--color-primary-blue-dark);
    font-family: 'Play', sans-serif;
        font-weight: 700;
        font-size: 64px;
        line-height: 1.15;
        text-align: center;
}
.section-title .accent {
    color: var(--color-primary-blue);
}

.section-title-first {
    color: var(--color-primary-blue-dark);
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
}

.section-title-first .accent {
    color: var(--color-primary-blue);
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
}

/* choose-us-section */
.choose-us-section {
    padding-bottom: 85px;
    padding-top: 175px;
}

.choose-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.choose-card {
    padding: 24px 32px;
    width:316px ;
    height:181px ;
    border-radius: 32px;
    box-shadow:0 3px 5px lightblue ;
    background-color: #ffffff;
}

.why-we-are-good {
    color: #000000;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
}

.choose-icon {
    display: flex;
    margin-left: 102px;
    fill: var(--color-primary-blue);
}




/*contact-section*/
.contact-section {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
}

.contact-info {
    display: flex;
}

/* Pre Hero Title */
.pre-hero-title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
}

/* Advice Section */
.advice {
    font-size: 12px;
    line-height: 1.5;;
}

/* First Section text */
.first-section-text .accent {
    font-weight: 600;
}

/* data-is-protected */
.data-is-protected {
    color: #747272;
    font-size: 13px;
    line-height: 1.17;
}

/* Contact Section */
.contact-container {
    display: flex;
}

 .contact-map {
     flex-shrink: 0;
     border: none;
     border-radius: 32px;
 }

 /* Footer */
 .footer-container {
    display: flex;
    gap: 20px;
 }

.footer-nav, .footer-adress {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.header-icons-footer {
    display: flex;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.adress-list,
.adress-info {
    flex-grow: 1;
}

.adress-link {
    color: var(--color-pimary-white);
    font-size: 16px;
    line-height: 1.17;
    text-decoration: none;
}

.adress-icon {
    color: var(--color-pimary-white);
}

.adress-copyright {
    font-size: 14px;
}

.footer {
    overflow: hidden;
    position: relative;
    background-image: url('../images/footer-background.png');
    background-color: var(--color-primary-blue-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    padding: 56px 0;
}

.footer::after {
    position: absolute;
        width: 250px;
        height: 150px;
        bottom: 0;
        right: 0;
        background-image: url(../images/footer-materials.png);
        background-repeat: no-repeat;
        content: "";
}

/*carousel*/

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    fill: var(--color-primary-blue-dark);
    background-color: transparent;
    border: 1px solid var(--color-primary-blue-dark);
    cursor: pointer;
}

.carousel-button:hover {
    background-color: var(--color-primary-blue);
    fill: white;
    border: 1px solid white;
}

.wave-background {
    background-image: url(../images/background-big.png);
    background-repeat: no-repeat;
    background-position: top;
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: opacity .3s, visibility .3s;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 723px;
    height: 100%;
    max-height: 848px;
    padding: 128px;
    background-image: url(../images/modal-background.png);
    background-color: var(--color-primary-blue-dark);
    border-radius: 48px;
    overflow-y: auto;
    color: var(--color-pimary-white);
    text-align: center;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-span {
    color: var(--color-primary-blue);
}

/*Form*/
.form-field {
    position: relative;
    margin-bottom: 32px;
}

.form-label {
    position: absolute;
    left: 42px;
    top: 16px;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-gray);
    border-radius: 32px;
    background-color: transparent;
    width: 310px;
        height: 52px;
}

.form-input:focus {
    border-color: var(--color-secondary-gray);
    background-color: var(--color-secondary-gray);
    color: #ffffff;
    outline: none;
}

.form-input::placeholder {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: #ffffff;
}

.form-button {
    margin: 0 auto 24px;
    display: block;
    width: 300px;
    height: 55px; 
}

.form-button:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid var(--color-primary-blue);
}

.form-terms {
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    max-width: 220px;
    color: var(--color-secondary-gray);
}

.form-terms-link {
    color: var(--color-secondary-gray);
    text-underline-offset: 2px;
}

.modal-title {
    font-weight: 700;
    font-size: 64px;
    top: 0;
}

.modal-text {
    font-weight: 600;
    font-size: 22px;
}


/*Contact-Form*/
.contact-form-field {
    position: relative;
    margin-bottom: 32px;
}

.contact-form-label {
    position: absolute;
    left: 42px;
    top: 16px;
}

.contact-form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-gray);
    border-radius: 32px;
    background-color: transparent;
    width: 310px;
    height: 52px;
}

.contact-form-input:focus {
    border-color: var(--color-secondary-gray);
    background-color: var(--color-secondary-gray);
    color: #ffffff;
    outline: none;
}

.contact-form-input::placeholder {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.17;
}

.contact-form-input:focus::placeholder {
    color: #ffffff;
}

.contact-form-button {
    margin: 0 auto 24px;
    display: block;
    width: 300px;
    height: 55px;
}

.contact-form-button:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid var(--color-primary-blue);
}

.contact-form-terms {
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    max-width: 220px;
    color: var(--color-secondary-gray);
}

.contact-form-terms-link {
    color: var(--color-secondary-gray);
    text-underline-offset: 2px;
}

.contact-modal-title {
    font-weight: 700;
    font-size: 64px;
    top: 0;
}

.contact-modal-text {
    font-weight: 600;
    font-size: 22px;
}

.contact-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: opacity .3s, visibility .3s;
}

.contact-modal {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 482px;
    padding: 128px;
    background-image: url(../images/modal-background.png);
    background-color: var(--color-primary-blue-dark);
    border-radius: 48px;
    overflow-y: auto;
    color: var(--color-pimary-white);
    text-align: center;
}

.contact-modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.contact-backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.contact-modal-span {
    color: var(--color-primary-blue);
}