* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.container.header-container {
    position: relative;
    max-height: 110px;
    height: 100%;
}

.hero-section {
    padding-top: 16px;
    padding-bottom: 126px;
}

.container.hero-container {
    padding: 0 206px;
}

.photo {
    z-index: -1;
}